@-webkit-keyframes slideLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}
	to {
		opacity: 1;
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
	}
}
@keyframes slideRight {
	0% {
		opacity: 1;
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
	}
	to {
		opacity: 0;
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}
}
.header {
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	background: #fff;
}

.header__container {
	max-width: 1042px;
	padding: 0 10px;
	margin: 0 auto;
}
.menu-section {
	display: flex;
	justify-content: flex-end;
	height: 82px;
	align-items: center;
}
.header .menu > ul > li {
	display: inline-block;
}
.header .menu > ul > li:not(:first-child) {
	margin-left: 1.5rem;
}
.header .menu > ul > li > a {
	position: relative;
	font-family: inherit;
	font-size: 20px;
	font-weight: 500;
	border: none;
	outline: none;
	color: #000;
	text-transform: capitalize;
	-webkit-transition: color 0.3s ease;
	transition: color 0.3s ease;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	transition: color 0.3s ease 0s;

	&:hover {
		color: #ff6464;
	}
}
.header .menu > ul > li .menu-subs {
	position: absolute;
	max-width: 100%;
	width: 30%;
	height: auto;
	margin-top: 25px;
	z-index: 109;
	opacity: 0;
	visibility: hidden;
	border-radius: 5px;
	background: #04494f;
	-webkit-transition: all 0.5s ease;
	-webkit-transition: all 0.33s ease;
	transition: all 0.33s ease;
}
.fas {
	padding-left: 5px;
}
.header .menu-mobile-header,
.header .menu-mobile-toggle {
	display: none;
}
@media screen and (min-width: 579px) {
	.header .menu > ul > li.menu-item-has-children:hover .menu-subs {
		margin-top: 0.5rem;
		opacity: 1;
		visibility: visible;
	}
}
@media screen and (max-width: 578px) {
	.header-item-top {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.menu-section {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		margin-top: 0;
		-webkit-box-pack: unset;
		-ms-flex-pack: unset;
		justify-content: unset;
		-webkit-box-align: unset;
		-ms-flex-align: unset;
		align-items: unset;
	}
	.header_burger {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		height: 50px;
	}
	.header .menu-mobile-toggle {
		position: relative;
		display: flex;
		justify-content: flex-end;
		cursor: pointer;
		width: 1.75rem;
		height: 1rem;
		border: none;
		outline: none;
		margin-left: 1.25rem;
		margin-top: -0.25rem;
		background: none;
		-webkit-transition: 0.35s ease-in-out;
		transition: 0.35s ease-in-out;
	}
	.header .menu-mobile-toggle span {
		display: block;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		border: none;
		outline: none;
		opacity: 1;
		border-radius: 0.25rem;
		background: #000;
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: 0.25s ease-in-out;
		transition: 0.25s ease-in-out;
	}
	.header .menu-mobile-toggle span:first-child {
		top: 0;
	}
	.header .menu-mobile-toggle span:nth-child(2),
	.header .menu-mobile-toggle span:nth-child(3) {
		top: 0.5rem;
	}
	.header .menu-mobile-toggle span:nth-child(4) {
		top: 1rem;
	}
	.header-item-right {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.header .menu {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 111;
		overflow: auto;
		background-color: rgba(255, 255, 255, 0.8);
		opacity: #fff 0.8;
		-webkit-transform: translate(0px, -100%);
		transform: translate(0px, -100%);
		-webkit-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
	}
	.header .menu.active {
		-webkit-transform: translate(0px, 0%);
		transform: translate(0px, 0%);
	}
	.header .menu .menu-item {
		display: block;
		line-height: 1;
		margin: 0 auto;
	}
	.header .menu .menu_item-link {
		display: block;
		line-height: 60px;
		font-size: 30px;
		height: 60px;
	}

	.header .menu .menu-mobile-header {
		position: relative;
		position: sticky;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		top: 0;
		height: 60px;
		z-index: 110;
		border-bottom: 1px solid #fff;
	}
	.header .menu .menu-mobile-header .menu-mobile-arrow {
		display: none;
		font-size: 20px;
		line-height: 60px;
		width: 60px;
		height: 60px;
		cursor: pointer;
		text-align: center;
		border-right: 1px solid #fff;
		color: #000;
		background-color: inherit;
	}
	.header .menu .menu-mobile-header.active .menu-mobile-arrow {
		display: block;
	}

	.header .menu .menu-mobile-header .menu-mobile-close {
		font-size: 20px;
		line-height: 60px;
		cursor: pointer;
		width: 60px;
		height: 60px;
		text-align: center;
		border-left: 1px solid #fff;
		color: #000;
		background-color: inherit;
	}
	.header .menu .menu-section {
		height: auto;
		overflow-y: auto;
		overflow-x: hidden;
	}

	.header .menu > ul > li:not(:first-child) {
		margin: 0 auto;
	}
	.header .menu > ul > li .menu-subs.active {
		display: block;
	}
	.overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 100;
		opacity: 0;
		visibility: hidden;
		background: rgba(0, 0, 0, 0.65);
		-webkit-transition: all 0.45s ease-in-out;
		transition: all 0.45s ease-in-out;
	}
	.overlay.active {
		opacity: 1;
		visibility: visible;
	}
}
