@import url("https://fonts.googleapis.com/css?family=Heebo:regular,500,700,900&display=swap");

@import "_normalize";

// GLOBAL VARIBALES
$primary-color: #ff6464;
$secondary-color: #00a8cc;
$dark-color: #21243d;
$light-color: #8695a4;
$white: #fff;
$black: #000;

//====================================== HEADER START ======================================\\
$maxWidthContainer: 876px;
$md1: $maxWidthContainer + 20px;
$md2: 991.98px;
$md3: 767.98px;
$md4: 576.98px;
$md5: 459.98px;

._container {
	max-width: $md1;
	padding: 0 20px;
	margin: 0 auto;

	@media screen and (max-width: $md1) {
		max-width: $md3;
	}
	@media (max-width: $md3) {
		max-width: $md4;
	}
	@media (max-width: $md4) {
		max-width: $md5;
	}
}

@import "_header";

@import "_home";

@import "_blog";

@import "_article";

@import "_footer";
//=============================================================================================================
.title {
	font-size: 44px;
	font-weight: 700;
	color: $dark-color;
	line-height: 60 / 44 * 100%;

	@media (max-width: $md3) {
		font-size: 32px;
		line-height: 40 / 32 * 100%;
	}
}
.title-posts {
	font-size: 22px;
	color: $dark-color;
	font-weight: 400;

	@media (max-width: $md3) {
		text-align: center;
	}

	@media (max-width: $md4) {
		font-size: 18px;
	}
}
.text {
	font-size: 16px;
	font-weight: normal;
	line-height: 23 / 16 * 100%;
	color: $dark-color;
}
.btn {
	display: inline-flex;
	font-weight: 500;
	font-size: 20px;
	line-height: 29 / 20 * 100%;
	background-color: $primary-color;
	border-radius: 2px;
	height: 47px;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
	transition: background-color 0.3s ease 0s;

	&:hover {
		background-color: #8f3636;
	}
}

._ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
//=============================================================================================================
